body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--black-color);
  background-color: var(--white-color);
  letter-spacing: 0.03em;
}

:root {
  --color-blue: #2196f3;
  --black-color: #212121;
  --white-color: #ffffff;
  --grey-color: #757575;
  --color-h1: #2f303a;
  --color-textare1: #00000033;
  --contact-init: #ffffff99;
  --marco-pie: #2f303a;
  --p: rgba(0, 0, 0, 0.2);
}


/*header*/

.logo {
  font-family: "Raleway";
  text-decoration: none;
  color: var(--color-blue);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5;
}

.list {
  list-style-type: none;
  text-decoration: none;
}

.header-item {
  text-decoration: none;
  color: var(--black-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.header-item:hover, .header-item:focus {
  color: var(--color-blue);
}

.current {
  color: var(--color-blue);
}


/*contacts*/

.contacts {
  text-decoration: none;
  color: var(--grey-color);
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.contacts:hover, .contacts:focus {
  color: var(--color-blue);
}

.contacts-pie {
  text-decoration: none;
  color: var(--contact-init);
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.contacts-pie:hover,.contacts-pie:focus {
  color: var(--color-blue);
}

.buton {
  text-decoration: none;
  color: var(--black-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 5;
}


/*tarea 1*/

.fondo-h1 {
  color: var(--color-h1);
  background-color: var(--black-color);
}

.texto1 {
  color: var(--white-color);
  width: 696px;
  height: 120px;
  left: 448px;
  top: 280px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.pointer {
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--color-blue);
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.tittle {
  color: var(--black-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.name {
  color: var(--black-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1,5;
}

.parrafo {
  color: var(--grey-color);
  font-size: 14px;
  line-height: 1, 5;
}

.buton-items {
  color: var(--black-color);
  font-family: "roboto";
  font-weight: 500;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  border: none;
  padding: 6px 24px;
  border-radius: 5px;
  cursor: pointer;
}

.buton-items:hover, .buton-items:focus {
  color: var(--white-color);
  background-color: var(--color-blue);
  background: #2196f3;
}

.paragraph {
  color: var(--grey-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.pie-pages {
  text-decoration: none;
  color: var(--white-color);
  font-weight: 400;
  line-height: 24px;
}

.pie-pages:hover {
  color: var(--color-blue);
}

.marco-pie {
  color: var(--marco-pie);
  background-color: var(--marco-pie);
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
  cursor: pointer;
}

.subtittle {
  color: var(--black-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}